params {
    mode        = null
    input_reads = null
    sample_id   = null
    reference   = null
    outdir      = 'results'
    threads     = 16
    conda_env   = ''
    container   = 'opalinn/hw3-pipeline:latest'
}

workDir = 'work'

process {
    executor = 'local'
    cpus = params.threads
    memory = '4 GB'
    time = '4h'
    
}

profiles {
    local {
        conda.enabled = true
        docker.enabled = false
        process {
            executor = 'local'
            cpus = params.threads
            memory = '4 GB'
            time = '4h'
            conda = params.conda_env
        }
    }

    cluster {
        conda.enabled = true
        docker.enabled = false

        process {
            executor = 'slurm'

            cpus = 4
            memory = '16 GB'
            time = '16h'

            conda = "$projectDir/envs/hw2_v2.yml"
        }
        process.queue = 'short'

    }

    container {
        conda.enabled = false
        docker.enabled = true
        process {
            executor = 'local'
            cpus = params.threads
            memory = '4 GB'
            time = '4h'
            container = params.container
        }
    }
}